{% extends 'wallpapers/base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Wallpaper List
            </h3>
        </div>
        <div class="panel-body">
            <div class="row placeholder">
            {% for image in imagelist %}
                <a href="{{ image.filename }}" target="_blank">
                    <div class="col-xs-6 col-sm-4 placeholder">
                        <img src="{{ image.filename }}" width="320" height="240" class="img-thumbnail">
                            <h5>{{image.description}}</h5>
                    </div>
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}